<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <input
            id="url_input"
            type="text"
            name="url"
            placeholder="https://developer.mozilla.org/en-US/"
          />
          <input type="submit" value="Shorten" class="submit" />
        </form>
      </section>
      <div class="info">
        <p>Usage:</p>
        <p>[app_url]/api/shorturl/[short_url]</p>
        <p>Example:</p>
        <a href="https://urlshortner-xuan.herokuapp.com/api/shorturl/fWdEebRSgq"
          >urlshortner-xuan.herokuapp.com/api/shorturl/fWdEebRSgq</a
        >
        <p>Redirects To:</p>
        <p>https://developer.mozilla.org/en-US/</p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
