<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <div>
        <p>Usage:</p>
        <p>[app_url]/api/shorturl/[short_url]</p>
        <p>Example:</p>
        <a href="https://urlshortner-xuan.herokuapp.com/api/shorturl/H94Upmp6Nw">urlshortner-xuan.herokuapp.com/api/shorturl/H94Upmp6Nw</a>
        <p>Redirects To:</p>
        <p>https://www.freecodecamp.org</p>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
